@font-face {
    font-family: 'Armin Grotesk';
    src: url(./assets/fonts/ArminGrotesk-Regular.ttf);
}
@font-face {
    font-family: 'Armin Grotesk Light';
    src: url(./assets/fonts/ArminGrotesk-Thin.ttf);
}
@font-face {
    font-family: 'Armin Grotesk Bold';
    src: url(./assets/fonts/ArminGrotesk-SemiBold.ttf);
}

:root {
    --body-padding-x: 48px;
    --max-content-width: 83.33%;

    --accent-color-light: #0cee71;
    --accent-color: #04C75C;
    --accent-color-dark: #00B451;

    --color-light: #faf9f7f7;
    --color-dark: #131313;

    --main-font-bold: 'Armin Grotesk Bold', Helvetica, sans-serif;
    --main-font: 'Armin Grotesk', Helvetica, sans-serif;
    --main-font-light: 'Armin Grotesk Light', Helvetica, sans-serif;
}

body {
    margin: 0px;
    background-color: var(--color-light);
}

::selection {
    color: var(--color-dark);
    background-color: var(--accent-color-light);
}

a {
    transition: color 0.3s;
    color: var(--color-dark);
    text-decoration: none;
    display: flex;
    gap: 6px;

    &:hover {color: var(--accent-color);}
    &:hover .ext-link-arrow {
        transform: translate(0px, 0px);

        & .ext-link-arrow-head {border-color: var(--accent-color);}
        & .ext-link-arrow-tail {background-color: var(--accent-color);}
    }
}

nav {
    position: fixed;
    width: calc(100% - var(--body-padding-x)*2);
    top: 0px;
    padding: 0 var(--body-padding-x);
    background-color: var(--color-light);
    z-index: 1000;
    transform: translateY(0%);

    transition: transform 0.36s;
}

.vertically-centered {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.nav-content {
    margin: auto;
    max-width: var(--max-content-width);
    display: flex;
    justify-content: space-between;
    height: 55px;
    padding-top: 28px;
    padding-bottom: 40px;

}

.nav-menu-button {
    background-color: transparent;
    border-width: 0px;
    display: flex;
    flex-direction: column;
    width: 40px;
    justify-content: space-between;
    padding: 0px;
    gap: 10px;

    &::after, &::before {
        content: '';
        display: block;
        width: 100%;
        height: 1.5px;
        background-color: var(--color-dark);
        transition: all 0.3s;
    }

    &:hover::after, &:hover::before  {background-color: var(--accent-color);}
    
}

.nav-link-container {
    text-transform: uppercase;
    font-family: var(--main-font);
    color: var(--color-dark);
    font-size: 18px;
    letter-spacing: 1px;

    &:hover {color: var(--accent-color);}
}

.nav-links-container {
    display: flex;
    flex: 1;
    max-width: calc(var(--max-content-width)/2);
    justify-content: space-between;
}

.nav-logo {
    fill: var(--color-dark);
    transition: fill 0.3s;
    padding-bottom: 3px;
    height: 96%;

    &:hover {fill: var(--accent-color-dark);}
}

.nav-donate-button {
    color: var(--color-dark);
    background-color: transparent;
    border-width: 0px;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    border: 1px solid var(--color-dark);
    border-radius: 27px;
    padding: 12px 32px;
    text-align: center;
    transition: all 0.1s;

    &:hover {
        border-color: var(--accent-color);
        background-color: var(--accent-color);
        color: var(--color-light);
    }
}

.nav-lang-container {
    margin-top: 18px;
    font-size: 13px;
    font-family: var(--main-font);
    display: flex;
    gap: 8px;
    justify-content: center;
}
.nav-lang-option {
    color: var(--color-dark);

    &:hover {color: var(--accent-color-dark)}
}

.main-body {
    margin-top: 180px;
    padding: 0 var(--body-padding-x);
    transition: none;
}

.carousel-section {
    display: flex;
    padding-top: clamp(80px, calc(60px + 5vw), 150px);
}

.carousel-section-content {
    width: var(--max-content-width);
}

.carousel-scroller {
    flex: 1;
    position: relative;

    &:hover .arrow-left {left: -6px;}
    &:hover .arrow-right {left: calc(100% + 6px);}
}

.carousel-arrow {
    display: block; 
    position: relative;
    width: 54px;
    left: 0px;
    transition: all 0.3s ease-out;
}

.arrow-tail {
    position: absolute;
    top: 50%;
    transform: translateY(-1px);
    height: 1px;
    width: 54px;
    background-color: var(--color-dark);
}

.arrow-left .arrow-head {
    position: relative;
    left: 0px;
    height: 9px;
    width: 9px;
    border-left: 1px solid var(--color-dark);
    border-bottom: 1px solid var(--color-dark);
    transform: translateX(1px) rotate(45deg);
    top: 50%;
}
.arrow-right .arrow-head {
    position: relative;
    left: 100%;
    height: 9px;
    width: 9px;
    border-right: 1px solid var(--color-dark);
    border-bottom: 1px solid var(--color-dark);
    transform: translateX(calc(-100% - 1px)) rotate(-45deg);
    top: 50%;
}

.arrow-right {
    left: 100%;
    transform: translateX(-100%);
}

.main-title-wrapper {
    max-width: var(--max-content-width);
    margin: auto;
}
.main-title {
    max-width: 50%;
    position: absolute;
    font-family: var(--main-font-bold);
    font-size: clamp(80px, calc(60px + 5vw), 150px);
    color: var(--color-dark);
    letter-spacing: -3px;
    line-height: calc(clamp(80px, calc(60px + 5vw), 150px) - 12px);

    & div {transform: translateY(36px);}
    & div:nth-child(1) {animation: title-intro-anim 0.6s forwards ease-in;}
    & div:nth-child(2) {animation: title-intro-anim 0.6s 0.3s forwards ease-in;}
}

@keyframes title-intro-anim {
    from {
        transform: translateY(36px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

* {
    animation: all-fade-in;
    animation-duration: 0.9s;
}
@keyframes all-fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.carousel-content {
    display: flex;
    gap: 24px;
}

.carousel-content-text {
    /* 25% of whole body, excluding padding: (100vw - 2*(body padding))/4 */
    width: calc(25vw - var(--body-padding-x)/2); 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s;
}

.carousel-title {
    font-size: clamp(35px, 30px + 1vw, 50px);
    font-family: var(--main-font-light);
    color: var(--color-dark);
    font-weight: 600;
    line-height: clamp(35px, 30px + 1vw, 50px);
}
.carousel-link {
    font-size: calc(clamp(35px, 30px + 1vw, 50px)*0.65);
    color: var(--accent-color);
    font-family: var(--main-font);
    margin-top: 30px;
    display: flex;
    gap: 12px;

    
    &:hover {color: var(--color-dark);}
    &:hover .carousel-link-arrow {left: 6px;}
    &:hover .arrow-head {border-color: var(--color-dark);}
    &:hover .arrow-tail {background-color: var(--color-dark);}
}

.carousel-link-arrow {
    position: relative;
    width: 21px;
    left: 0px;
    transition: all 0.3s;
}

.carousel-link-arrow .arrow-tail {
    position: absolute;
    background-color: var(--accent-color);
    top: 50%;
    height: 0.5px;
    width: 21px;
}

.carousel-link-arrow .arrow-head {
    position: relative;
    left: 100%;
    top: 50%;
    height: 9px;
    width: 9px;
    border-right: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    transform: translateY(-50%) translateX(calc(-100% - 1px)) rotate(-45deg);
}

.carousel-image-container {
    position: relative;
    aspect-ratio: 1.5;
    /* 50% of whole body, excluding padding: (100vw - 2*(body padding))/2 */
    max-width: calc(50vw - var(--body-padding-x));
}

.carousel-image {
    width: 100%;
    height: 100%;
}

.secondary-carousel-image {
    position: absolute;
    width: 120px;
    left: 100%;
    top: 15%;
    transform: translateX(-50%);
}

.carousel-intro-anim-elem {
    transform-origin: top left;
    animation: carousel-intro-anim 0.9s forwards;
}

@keyframes carousel-intro-anim {
    from {
        transform: translateX(-90px) translateY(90px) rotateZ(15deg);
        opacity: 0;
    }
    to {
        transform: translateX(0px) translateY(0px) rotateZ(0deg);
        opacity: 1;
    }
}

.carousel-outro-anim-elem {
    transform-origin: top right;
    animation: carousel-outro-anim 0.9s forwards;
    z-index: -1;
}

@keyframes carousel-outro-anim {
    from {
        transform: translate(0, 0) rotateZ(0deg);
        opacity: 1;
    }
    to {
        transform: translate(-270px, 90px) rotateZ(-15deg);
        opacity: 0;
    }
}

.badge-outro-anim-elem {
    transform-origin: top right;
    animation: badge-outro-anim 0.9s forwards;
}

@keyframes badge-outro-anim {
    from {
        transform: translate(-50%, 0) rotateZ(0deg);
        opacity: 1;
    }
    to {
        transform: translate(calc(-210px - 50%), 120px) rotateZ(-15deg);
        opacity: 0;
    }
}

.badge-intro-anim-elem {
    opacity: 0;
    animation: badge-intro-anim 0.9s 1s forwards;
}

@keyframes badge-intro-anim {
    from {opacity: 0;}
    to {opacity: 1;}
}

.visit-section {
    margin: 150px auto 0px auto;
    width: var(--max-content-width);
    position: relative;
}

.visit-content-container {
    margin-top: calc(150px + clamp(85px, 30px + 3vw + 45px, 125px));
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.visit-title-wrapper {
    width: var(--max-content-width);
    margin: calc(clamp(115px, 30px + 3vw + 75px, 165px)) auto 0px auto;
    position: absolute;
}

.visit-title {
    right: 0px;
    text-align: right;
    font-size: clamp(40px, 30px + 3vw, 80px);
    font-family: var(--main-font-bold);
    color: var(--color-dark);
    line-height: clamp(46px, 30px + 3vw + 6px, 86px);
    letter-spacing: -2px;
    opacity: 1;

    & div {opacity: 0;}
    & div:nth-child(1) {padding-right: 80px;}
    & div:nth-child(2) {
        padding-right: 40px;
        animation-delay: 0.3s;
    }
}

.visit-title-intro-animated div {
    opacity: 0;
    animation: visit-title-intro-anim 0.6s forwards;
}

@keyframes visit-title-intro-anim {
    from {
        transform: translateX(-45px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.visit-content {
    position: relative;
    display: flex;
    gap: 24px;

    &:hover .visit-media-thumbnail {opacity: 0;}
}

.visit-media-container {
    width: 41.67%;
    position: relative;
}

.visit-media-video {
    position: absolute;
    width: 100%;
    border-radius: 6px;
    z-index: -1;
}
.visit-media-thumbnail {
    width: 100%;
    border-radius: 6px;
    opacity: 1;
    transition: opacity 0.45s;
}

.visit-desc-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.visit-arrow-left, .visit-arrow-right {
    position: relative;
    margin: 8px;
    margin-bottom: 30px;
}

.visit-arrow-left .visit-arrow-head {
    width: 34px;
    height: 34px;
    border-left: 2px solid var(--color-dark);
    border-bottom: 2px solid var(--color-dark);
    transform-origin: 50% 50%;
    transform: rotateZ(45deg);
}

.visit-arrow-tail {
    left: -6px;
    width: 48px;
    height: 2px;
    background-color: var(--color-dark);
    position: absolute;
    top: 50%;
}

.visit-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.visit-content-main {
    display: flex;
    font-size: clamp(35px, 20px + 1.5vw, 50px);
    line-height: clamp(35px, 20px + 1.5vw, 50px);
    font-family: var(--main-font-light);
    font-weight: 600;
    color: var(--color-dark);
}

.visit-loca-street {
    max-width: 33.33%;
    width: 33.33%;
}

.visit-content-other {
    display: flex;
    font-size: 20px;
    font-family: var(--main-font-light);
    font-weight: 600;
    color: var(--color-dark);
}

.visit-arrow-left, .visit-arrow-right {
    transform: translateX(0px);
    transition: all 0.3s;
}

.visit-content:hover .visit-arrow-left {
    transform: translateX(-9px);

    & .visit-arrow-head {border-color: var(--accent-color);}
    & .visit-arrow-tail {background-color: var(--accent-color);}
}
.visit-content:hover .visit-arrow-right {
    transform: translateX(9px);

    & .visit-arrow-head {border-color: var(--accent-color);}
    & .visit-arrow-tail {background-color: var(--accent-color);}
}

.visit-icon-container {position: relative;}

.visit-icon-container svg {
    color: var(--color-dark);
    transition: color 0.3s;

    &:hover {color: var(--accent-color);}
    &:hover ~ div {
        transform: translateX(84px) translateY(-100%);
        opacity: 1;
    }
}

.visit-icon-desc-container {
    display: flex;
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: all 0.3s;
    animation: none;
    transform: translateX(72px) translateY(-100%);
}
.visit-icon-desc-triangle {
    transform: translateX(-100%) translateY(-100%) rotateZ(-90deg);
    position: absolute;
    top: 100%;
    width: 0px;
    height: 0px;
    border-left: 8px solid var(--accent-color);
    border-top: 8px solid transparent;
    border-width: 8px 0px 0px 8px;
}
.visit-icon-desc-box {
    user-select: none;
    font-size: 20px;
    width: 260px;
    text-align: center;
    line-height: 24px;
    font-family: var(--main-font);
    font-weight: normal;
    padding: 12px 15px;
    border-radius: 6px 6px 6px 0px;
    color: var(--color-light);
    background-image: linear-gradient(var(--accent-color-light), var(--accent-color));
}

.visit-content:nth-child(2) {
    flex-direction: row-reverse;

    & .visit-desc-container {margin-left: 8.33%;}
    & .visit-content-main .visit-loca-street {
        width: 58.88%;
        min-width: 58.88%;
    }
    & .visit-content-other .visit-loca-street {
        width: 41.67%;
        min-width: 41.67%;
    }
}

.visit-arrow-right .visit-arrow-head {
    width: 34px;
    height: 34px;
    border-right: 2px solid var(--color-dark);
    border-top: 2px solid var(--color-dark);
    transform-origin: 50% 50%;
    transform: rotateZ(45deg);
}

.visit-directions {
    display: flex;
    gap: 6px;
}

.ext-link-arrow {
    position: relative;
    transform: translate(-2px, 2px);

    transition: transform 0.3s;
}
.ext-link-arrow-head {
    height: 6px;
    width: 6px;
    border-top: 2px solid var(--color-dark);
    border-right: 2px solid var(--color-dark);

    transition: all 0.3s;
}
.ext-link-arrow-tail {
    height: 2px;
    width: 8px;
    background-color: var(--color-dark);
    position: absolute;
    right: 0px;
    transform-origin: calc(100% - 1px) 50%;
    transform: translateX(-1px) translateY(1px) rotateZ(-45deg);

    transition: all 0.3s;
}

.hov-media-section {
    max-width: var(--max-content-width);
    margin: 150px auto 0px auto;
}

.hov-media-title-intro-anim {
    & div:nth-child(1) {transform: translateY(36px); animation: title-intro-anim 0.6s forwards ease-in;}
    & div:nth-child(2) div {transform: translateY(36px); animation: title-intro-anim 0.6s 0.1s forwards ease-in;}
    & div:nth-child(3) {transform: translateY(36px); animation: title-intro-anim 0.6s 0.2s forwards ease-in;}
    & div:nth-child(4) {transform: translateY(36px); animation: title-intro-anim 0.6s 0.3s forwards ease-in;}
}

.hov-media-title-line {
    opacity: 0;
    color: var(--color-dark);
    display: inline-block;
    font-family: var(--main-font-bold);
    line-height: calc(clamp(40px, 30px + 3vw, 80px) + 6px);
    font-size: clamp(40px, 30px + 3vw, 80px)
}

.hov-media-container .hov-media-title-line {
    color: var(--accent-color);
}

.hov-media-desc {
    font-family: var(--main-font-light);
    color: var(--color-dark);
    font-weight: 600;
    font-size: 30px;
    margin-top: 72px;
}

.hov-media {
    position: fixed;
    z-index: -1;
    opacity: 0;
    width: 40vw;
    top: 0px;
    left: 0px;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    animation: none;

    transition: opacity 0.6s ease-out;
}

.image-parallax-section {
    margin-top: 200px;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
}

.image-parallax-container {
    &:nth-of-type(1) {
        grid-area: 1 / 1 / span 2 / span 6;
        display: flex;
        gap: 24px;
        
        & .image-parallax-media-wrapper {width: 60%;}
    }
    &:nth-of-type(2) {
        grid-area: 2 / 8 / span 2 / span 5;

        & .image-parallax-media-wrapper {aspect-ratio: 1.78;}
    }
    &:nth-of-type(3) {
        grid-area: 3 / 2 / span 1 / span 5;
        padding: 72px 32px 72px 0px;

        & .image-parallax-desc {
            display: flex;
            flex-direction: column;
            gap: 54px;    
        }

        & .image-parallax-text {
            font-size: 30px;
            line-height: 1.4;
            font-family: var(--main-font-light);
            font-weight: 600;
            color: var(--color-dark);
        }

        & a {
            font-size: 20px;
            font-family: var(--main-font-light);
            font-weight: 600;
        }

        & a .link-arrow {
            padding-left: 9px;
            transform: translateX(0px);
            transition: padding 0.3s;
        }

        & a:hover .link-arrow {padding-left: 18px;}
    }
    &:nth-of-type(4) {
        grid-area: 4 / 5 / span 1 / span 4;
        display: flex;
        gap: 24px;

        & .image-parallax-media-wrapper {aspect-ratio: 0.8;}
    }
}

.image-parallax-media-wrapper {position: relative;}

.image-parallax-media {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    object-fit: cover;
    border-radius: 6px;
}

.image-parallax-thumbnail {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 6px;
    object-fit: cover;
    transition: opacity 0.6s;

    &:hover {opacity: 0;}
}

.image-parallax-media-title {
    color: var(--color-dark);
    font-family: var(--main-font-light);
    font-weight: 600;
    font-size: clamp(20px, 10px + 3vw, 60px);
}

.image-parallax-media-desc {
    color: var(--color-dark);
    font-size: 13px;
    font-family: var(--main-font);
}

.future-events-section {
    margin-top: 240px;
}

.future-events-full-cal-button {
    color: var(--color-dark);
    font-family: var(--main-font-light);
    font-weight: 600;
    font-size: 16px;
    position: relative;
    margin: 24px 0px 24px auto;
    display: block;
    padding: 9px 24px;
    border-radius: 27px;
    border: 1px solid var(--color-dark);
    background-color: transparent;
    transition: all 0.1s;

    & span {
        margin-left: 12px;
        font-size: 24px;
    }
    &:hover {
        color: var(--color-light);
        border-color: var(--accent-color);
        background-color: var(--accent-color);
    }
}

.future-events-main {
    display: flex;
}
.future-events-title {
    writing-mode: sideways-lr;
    text-align: right;
    font-size: clamp(35px, 30px + 1vw, 50px);
    font-family: var(--main-font);
    color: var(--color-dark);
}
.future-events-container {
    margin-left: 8.33%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}

.future-event-card {
    width: 100%;

    &:hover .future-event-image {
        opacity: 0.81;
        transform: translateY(-18px);
    }

    &:nth-of-type(4) .future-event-image {
        aspect-ratio: 1.33;
        object-fit: cover;
    }
}

.future-event-image-wrapper {
    width: 100%;
}

.future-event-image {
    width: 100%;
    transform: translateY(0px);
    opacity: 1;
    transition: all 0.3s;
}

.future-event-desc {
    margin: 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.future-event-date, .future-event-link {
    font-family: var(--main-font);
    font-size: 15px;
    color: var(--color-dark);
}

.future-event-title {
    font-family: var(--main-font);
    font-size: clamp(20px, 16px + 1vw, 35px);
    color: var(--color-dark);
}

.future-event-link {margin-top: 9px;}

.email-section {
    padding: 96px var(--body-padding-x) 112px var(--body-padding-x);
    background-color: var(--accent-color-light);
}

.email-section-content {
    text-align: center;
    font-family: var(--main-font);
    color: var(--color-dark);
}

.email-section-text {
    font-size: 22px; 
    width: fit-content;
    margin: auto;
}

.email-section-input-wrapper {
    padding-bottom: 6px;
    border-bottom: 1px solid #008d3c;
    width: 100%;
    margin: auto;
    max-width: 680px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.email-section-input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    padding-top: 9px;
    color: var(--color-dark);
    font-family: var(--main-font);
    flex: 1;

    &::placeholder {
        color: #008d3c;
        font-family: var(--main-font);
    }
}

.email-submit-button {
    background-color: transparent;
    border: none;

    &:hover .email-arrow {
        transform: translateX(9px);
    }

    &:disabled .email-arrow-head {border-color: #008d3c;}
    &:disabled .email-arrow-tail {background-color: #008d3c;}
}

.email-arrow {
    position: relative;
    transition: transform 0.3s;
}

.email-arrow-head {
    width: 21px;
    height: 21px;
    border-right: 2px solid var(--color-dark);
    border-top: 2px solid var(--color-dark);
    transform-origin: 50% 50%;
    transform: rotateZ(45deg);
}


.email-arrow-tail {
    left: -6px;
    width: 32px;
    height: 2px;
    background-color: var(--color-dark);
    position: absolute;
    top: 50%;
    transform: translateX(0px);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    background-color: var(--color-dark);
    padding: 72px var(--body-padding-x);

}

.footer-donate-container {
    grid-row-end: span 2;
}
.footer-donate-wrapper {
    position: relative;
    display: inline-block;
}


.footer-donate-coin-video {
    height: 180px;
    width: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.footer-info-container {
    display: flex;
    flex-direction: column;
    gap: 24PX;
}

.footer-donate-text {
    position: relative;
    z-index: 10;
    fill: var(--color-light);
    transform-origin: 50% 50%;
    animation: rotate-coin-text-anim 27s infinite linear;
}

@keyframes rotate-coin-text-anim {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}

.footer-info-title {
    color: var(--color-light);
    font-family: var(--main-font);
    font-size: 18px;
}

.footer-info-desc a {
    color: var(--color-light);
    font-family: var(--main-font);
    font-size: 33px;

    &:hover {color: var(--accent-color)}
}

.footer-info-desc {
    display: flex;
    gap: 9px;
    color: var(--color-light);
    font-family: var(--main-font);
    font-size: 33px;
}

.social-media-links {
    gap: 36px;
    font-size: 39px;
}

.insta-icon:hover {color: #e6175c;}
.twitter-icon:hover {color: #1D9BF0}
.facebook-icon:hover {color: #17A9FD}

.footer-info-container:nth-last-of-type(-n+3) {margin-top: 45px;}

.swipe-indicator { 
    color: var(--color-dark);
    font-family: var(--main-font-bold);
    font-size: 12px;
    font-weight: 900;
    display: flex;
    gap: 6px;
    justify-content: center;
}


@media (min-width: 970px) {
    .not-important-desktop {display: none;}
}

@media (max-width: 1400px) {
    .carousel-content-text {
        max-width: calc(33vw - var(--body-padding-x) / 2);
        width: calc(33vw - var(--body-padding-x) / 2);
    }
    .visit-section {
        margin-left: 0px;
        width: calc(50% + var(--max-content-width)/2);
    }
    .future-event-card:nth-last-of-type(1) {display: none;}
    .future-events-container {grid-template-columns: 1fr 1fr;}
}

@media (max-width: 1100px) {
    .secondary-carousel-image {
        top: 0%;
        left: 72%;
        transform: translate(0%, -66%);
        max-width: 90px;
    }
    .image-parallax-text {font-size: 18px !important;}
    .image-parallax-container {
        &:nth-of-type(1) {grid-area: 1 / 1 / span 2 / span 7;}
        &:nth-of-type(2) {grid-area: 2 / 8 / span 2 / span 5;}
        &:nth-of-type(3) {grid-area: 3 / 1 / span 2 / span 7;}
        &:nth-of-type(4) {
            grid-area: 5 / 4 / span 1 / span 6;
            & .image-parallax-media-wrapper {max-width: 50%;}
        }
    }
}

@media (max-width: 970px) {
    :root {
        --max-content-width: 100%;
        --body-padding-x: 24px;
    }
    .visit-title-wrapper {width: calc(var(--max-content-width) - var(--body-padding-x)*2);}
    .visit-title div:nth-child(n) {
        padding-right: 0px;
        text-align: center;
        width: 100%;
    }
    .visit-content {
        flex-direction: column !important;
        
        &:hover .visit-arrow-left {transform: translateY(-9px) rotateZ(90deg);}
        &:hover .visit-arrow-right {transform: translateY(-9px) rotateZ(-90deg);}
    }
    .visit-media-container {
        max-width: 100%;
        width: 100%;
    }
    .visit-arrow-left {
        transform: rotateZ(90deg);
        width: fit-content;
    }
    .visit-arrow-right {
        transform: rotateZ(-90deg);
        width: fit-content;
    }
    .visit-desc-container {margin-left: 0px !important;}
    .visit-icon-container {
        position: absolute;
        left: 100%;
        top: 0%;
        transform: translateX(-100%) translateY(0%);

        & svg {
            transform: none;
            height: 54px;
            width: 54px;
        }

        &:hover .visit-icon-desc-container {transform: translateX(calc(-12px - 100%)) translateY(-100%);}
    }
    .visit-loca-street {
        max-width: 100%;
        width: fit-content;
    }
    .visit-content-other {justify-content: space-between;}
    .visit-icon-desc-box {border-radius: 6px 6px 0px 6px;}
    .visit-icon-desc-container {transform: translateX(calc(-100%)) translateY(-100%);}
    .visit-icon-desc-triangle {
        left: 100%;
        transform: translateX(-1px) translateY(-100%);
    }
    .future-events-section {margin-top: 180px;}
    .not-important-mobile {display: none;}
    footer {grid-template-columns: 1fr;}
    .footer-donate-container {margin: auto;}
    .footer-info-title, .footer-info-desc:not(.social-media-links) a {
        text-align: center;
        display: block;
        width: 100%;
    }
    .social-media-links {
        gap: 18px;
        display: flex;
        justify-content: center;
    }
    .copyright-mention {grid-row-start: 5;}
    .footer-info-container {margin-top: 0px !important;}
    .nav-links-container {max-width: fit-content;}
    .carousel-section {padding-top: calc(clamp(80px, calc(60px + 5vw), 150px)*2);}
    .carousel-content {
        flex-direction: column-reverse;
        margin-bottom: auto;
        min-width: 100%;

        &:nth-child(1) {scroll-snap-align: start;}
        &:nth-child(2) {scroll-snap-align: end;}
    }
    .carousel-image-container, .carousel-content-text {
        width: 100%;
        max-width: 100%;
    }
    .carousel-section-content {
        display: flex;
        width: 100%;
        gap: var(--body-padding-x);
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        user-select: none;
        -webkit-user-drag: none;
        scroll-behavior: smooth;

        & img {
            user-select: none;
            -webkit-user-drag: none;
        }
        &::-webkit-scrollbar {display: none;}
    }
}

@media (max-width: 620px) {
    
    .image-parallax-container {
        &:nth-of-type(1) {
            grid-area: 1 / 1 / span 1 / span 12;
            & .image-parallax-media-wrapper {width: 50%;}
        }
        &:nth-of-type(2) {
            grid-area: 2 / 1 / span 1 / span 12;
            display: flex;
            flex-direction: row-reverse;
            gap: 24px;
            & .image-parallax-media-wrapper {width: 66.67%;}
        }
        &:nth-of-type(3) {
            grid-area: 4 / 1 / span 1 / span 12;
            padding-top: 18px;
            padding-bottom: 0px;
        }
        &:nth-of-type(4) {
            grid-area: 3 / 1 / span 1 / span 12;
            & .image-parallax-media-wrapper {width: 50%;}
        }
    }
    .image-parallax-media-desc {display: none;}
    .image-parallax-text {font-size: 22px !important;}
    .image-parallax-media-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    /* TODO: Fix video peaking through thumbnail at bottom (image parallax section) */
}